<nav-bar></nav-bar>
<div class="overlay-bk"></div>
<div class="promo-4"></div>
<div class="main container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4 m-b-2">About Us</h1>
      <p>CDA is a online shopping apparel company that specialize in athletic wear</p>
      <p>Complete Dominance Athletics is a sports wear retailer based in Detroit, Michigan. Complete Dominance Athletics offers the most comprehensive selection in town and arguably on the internet/mail order as well. By offering the most complete selection as well as a knowledge support staff, Complete Dominance Athletics will quickly gain market share. Detroit was chose because of its diverse, active culture. Complete Dominance Athletics is a Michigan Base LLC.</p>
      <h4>Please don't forget to sign up and become a CDA member</h4><a class="btn btn-info-outline btn-lg m-t-1" href="/register">Get Started for FREE</a>
    </div>
  </div>
</div>
