<nav-bar></nav-bar>
<div class="overlay-bk"></div>
<div class="home"></div>
<div class="main container clearfix">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4"><img class="avatar img-circle hidden-xs-down" src="https://firebasestorage.googleapis.com/v0/b/complete-dominance-athletics.appspot.com/o/img%2Favatar.jpg?alt=media&amp;token=dc82c257-e46d-43ce-9b20-c4576c9ac2d5" alt="avatar"/></h1>
      <h2 class="favorite-apparel">Favorite Picks</h2>
    </div><a class="buy btn btn-info-outline btn-lg m-t-1" href="mailto:miltonputnam22@gmail.com">Buy Now</a>
  </div>
</div>
